#mensagem-container{
    grid-area: go;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#mensagem-container p{
    color: rgb(104, 104, 104);
}

@media(max-width:1090px){
    #mensagem-container{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 30px;
    }
}